@import '../../index.scss';

.jokes {
    position: relative;
    width: 90%;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    .jokes_category {
        position: absolute;
        left: 0;
        top: -4em;
        font-size: 0.8em;
        color: $white-two;
        background-color: $weird-green;
        font-weight: 800;
        border-radius: 15px;
        padding: 0.5em;
        width: 130px;
      
    }
 
}

@media only screen and (max-width: 1024px)
{
    .jokes {
        width: 95%;
        height: 100%;
        justify-content: center;
    }
    
}

