

@font-face {
    font-family: "Montserrat-regular";
    src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-meduim";
    src: url("/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-bold";
    src: url("/assets/fonts/Montserrat-Bold.ttf");
}